    html {font-size: 80%;}
    body {
      font-family: "Helvetica Neue", "Hiragino Kaku Gothic ProN",
        "Hiragino Sans", "Noto Sans", "Yu Gothic UI", Meiryo, Arial, sans-serif;
      text-align: center;
      background-color: #fbfbfb;
      position: relative;
    }
    a {
      color: cornflowerblue;
      text-decoration: none;
      padding-bottom: -5px;
    }
    a:hover {
      border-bottom: 2px solid cornflowerblue;
      padding-bottom: -5px;
    }
    .bl {
      color: lightskyblue;
    }
    .title {
      color: #888;
      transform: scale(1.02, 1);
      display: inline-block;
      font-size: 150%;
    }
    .chars {
      transform: rotate(0.003deg);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      white-space: nowrap;
      position: relative;
      z-index: 2;
    }
    .under {
      border: 4px solid #efefef;
      top: -12px;
      position: relative;
      z-index: 1;
    }
    ul {
      border: solid 2px #bbb;
      border-radius: 10px;
      padding: 0.5em 0.5em 0.5em 0.5em;
      display: inline-block;
      text-align: left;
    }
    ul li {
      list-style-type: none;
    }
    .container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .ttl2 {
      color: #888;
      font-size: 98%;
    }
    .msg {
      font-size: 70%;
      padding: 0em 0.5em;
      white-space: pre-line;
    }
    .new-icon {
            display: inline-block;
            padding: 2px 3px;
            background: linear-gradient(135deg, #00c6ff, #0072ff);
            color: #fff;
            font-size: clamp(0.3rem, 0.5em, 0.6em);
            font-weight: bold;
            border-radius: 8px;
            box-shadow: 0 2px 3px rgba(0,0,0,0.3);
            text-transform: uppercase;
            letter-spacing: 1px;
            animation: pulse 2s infinite;
        }

        @keyframes pulse {
            0%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.05);
            }
    }
    .container {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }

/*------------------------------------------*/
.youtube {
    width: clamp(30%, 40%, 45%);
    aspect-ratio: 16 / 9;
}
.youtube iframe {
    width: 100%;
    height: 100%;
}

details {
    position: relative;
}

summary {
    display: block;
    list-style: none;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    position: absolute;
    color: cornflowerblue;
    font-size: 70%;
    bottom: -14px;
    right: clamp(4%, 12%, 30%);
    content: "detail \025bc";
}

summary:hover::after {
    text-decoration: underline;
    text-underline-offset: 1px;
}

details[open] summary::after{
    content: "detail \025b2";
    /* color: gray; */
    top: 20px;
}

a:has(img):hover {
  border-bottom: initial;
}

::details-content {
    transition: height 0.3s ease, content-visibility 0.3s ease allow-discrete;
    font-size: 70%;
    height: 0;
    overflow: clip;
    white-space: pre-line;
}

details hr {
    display: inline-block;
    width: 60%;
    margin-left: 0;
    margin-right: auto;
}

/* Browser supports interpolate-size */
@supports (interpolate-size: allow-keywords) {
    :root {
        interpolate-size: allow-keywords;
    }

    [open]::details-content {
        height: auto;
    }
}

/* Fallback for browsers with no interpolate-size support */
@supports not (interpolate-size: allow-keywords) {
    [open]::details-content {
        height: 150px;
        overflow-y: scroll; /* In case the contents should be taller than 150px */
    }
}